body {
    /*     border: 5px solid black; */
    margin: 0px;
    padding: 0px;
    font-family: "Microsoft Yahei";
}

#bg1 {
    /*     border: 5px solid green; */
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: 1;
}

.interface {
    /* width:400px; */
    padding: 56px 0px;
    color: #ccc;
    background-color: rgba(17, 17, 17, 0.7);
    border-radius: 5px;
    z-index: 2;
}

/* @media (max-width: @screen-xs-max) {
    .interface{
        width: 10px;
    }
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    ...
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    ...
}

@media (min-width: @screen-lg-min) {
    ...
}
 */
.up {
    background: url('../images/banner.jpg') no-repeat fixed center;
}

.featurette img {
    width: 500px;
    height: 500px;
}

.music-player {
    position: fixed;
    width: 80px;
    height: 80px;
    z-index: 10;
    left: 20px;
    top: 20px;
}

.music {
    width: 80px;
    height: 80px;
}
